.about-us__title {
  .fonts(normal, bold, 25px, 30px);
}

.about-us__list {
  .list-reset();
}

.about-us__item {
  .fonts(normal, bold, 17px, 20px);
  margin-top: 83px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
  }

  &--ecology::before {
    background-image: url("../img/ecology.svg");
  }

  &--style::before {
    background-image: url("../img/style.svg");
  }

  &--likes::before {
    background-image: url("../img/likes.svg");
  }

  &--handmade::before {
    background-image: url("../img/handmade.svg");
  }

  &--manufacturer::before {
    background-image: url("../img/manufacturer.svg");
  }

  &--gift::before {
    background-image: url("../img/gift.svg");
  }
}
