.about-us {
  margin-top: 50px;
}

.about-us__title {
  .fonts(normal, bold, 25px, 30px);

  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 43px, 50px);
  }

  @media (min-width: @desktop-width) {
    margin-left: 145px;
  }
}

.about-us__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-left: 145px;
  }
}

.about-us__item {
  .fonts(normal, bold, 17px, 20px);
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;


  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 20px, 22px);
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
  }

  &--ecology {
    &::before {
      background-image: url("../img/ecology.svg");
    }

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }

  &--style {
    &::before {
      background-image: url("../img/style.svg");
    }

    @media (min-width: @tablet-width) {
      order: 3;
    }
  }

  &--likes {
    &::before {
      background-image: url("../img/likes.svg");
    }

    @media (min-width: @tablet-width) {
      order: 5;
    }
  }

  &--handmade {
    &::before {
      background-image: url("../img/handmade.svg");
    }

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }

  &--manufacturer {
    &::before {
      background-image: url("../img/manufacturer.svg");
    }

    @media (min-width: @tablet-width) {
      order: 4;
    }
  }

  &--gift {
    &::before {
      background-image: url("../img/gift.svg");
    }

    @media (min-width: @tablet-width) {
      order: 6;
    }
  }
}
