.additional-navigation {
  .list-reset();
  display: none;

  @media (min-width: @desktop-width) {
    .fonts(normal, bold, 15px, 24px);
  }
}

.additional-navigation__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: @desktop-width) {
    border-bottom: none;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.additional-navigation__link {
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-decoration: none;
  color: @black;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 32px 28px 32px 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 15px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
