.button {
  .fonts(normal, bold, 18px, 20px);
  outline: none;
  padding: 16px 80px;
  color: @dark-gray;
  background: @white;
  border: 2px solid #444444;
  text-transform: uppercase;
  cursor: pointer;

  &--accent {
    border: none;
    color: @white;
    background-color: @light-green;
  }
}
