.button {
  font-family: inherit;
  .fonts(normal, bold, 17px, 20px);
  outline: none;
  min-height: 52px;
  width: 100%;
  color: @dark-gray;
  background: @white;
  text-align: center;
  border: 2px solid @dark-gray;
  text-transform: uppercase;
  cursor: pointer;

  &--accent {
    border: none;
    color: @white;
    background-color: @light-green;
  }

  &:hover {
    background-color: @dark-gray;
    color: @white;
  }

  &:active {
    background-color: @dark-gray;
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    border: 2px solid @focus;
    border-radius: 5px;
  }
}
