.contacs {
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  min-height: 818px;

  @media (min-width: @tablet-width) {
    margin-top: 132px;
    min-height: 824px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
    margin-top: 161px;
    position: relative;
    min-height: 457px;
  }
}

.contacs__info {
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-left: 0;
    width: 525px;
  }
}

.contacs__info-item {
  display: flex;
  .fonts(normal, normal, 17px, 30px);

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.contacs__info-item:not(:last-child) {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.contacs__title {
  .reset-indents();
  .fonts(normal, bold, 18px, 30px);
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 43px, 50px);
    width: 100%;
    margin-top: 21px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    .fonts(normal, bold, 53px, 57px);
    margin-top: 75px;
    margin-left: 175px;
    margin-bottom: 35px;
  }
}

.contacs__span {
  .fonts(normal, normal, 14px, 30px);
  .reset-indents();
  display: block;
  height: 100%;
  float: left;
  margin-right: 33px;

  @media (min-width: @tablet-width) {
    .fonts(normal, normal, 17px, 30px);
    margin-right: 26px;
  }
}

.contacs__link {
  .fonts(normal, normal, 14px, 30px);
  margin: 0;
  padding: 0;
  color: @dark-gray;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    .fonts(normal, normal, 17px, 30px);
  }

  &--email {
    border-bottom: 1px solid @border-green;
    height: 30px;

    &:hover {
      color: @border-green;
    }

    &:active {
      border-bottom: 1px solid rgba(70, 193, 174, 0.1);
    }
  }
}

.contacs__address {
  .fonts(normal, normal, 14px, 30px);
  display: block;

  @media (min-width: @tablet-width) {
    .fonts(normal, normal, 17px, 30px);
  }
}

.contacs__map {
  height: 454px;
  display: block;
  margin: 0 auto;
  margin-top: 62px;
  width: 320px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    order: 0;
    width: 768px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    width: 527px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.contacs__button {
  margin-top: auto;
  align-self: center;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    bottom: 0;
    margin-right: auto;
    margin-left: 175px;
  }
}
