.contacs {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 457px;
  }
}

.contacs__info {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.contacs__info-item {
  width: 300px;
}

.contacs__title {
  .reset-indents();
  .fonts(normal, bold, 18px, 30px);

  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 43px, 50px);
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    .fonts(normal, bold, 53px, 57px);
    width: 100%;
  }
}

.contacs__span {
  display: block;
  height: 100%;
  .reset-indents();
  float: left;
  margin-right: 25px;
}

.contacs__link {
  margin: 0;
  padding: 0;
  .fonts(normal, normal, 14px, 30px);
  color: @dark-gray;
  text-decoration: none;

  &--email {
    border-bottom: 1px solid @border-green;
  }
}

.contacs__address {
  display: block;
}

.contacs__map {
  height: 454px;
  display: block;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    width: 527px;
    margin-left: auto;
  }
}

.contacs__button {
  height: 52px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0 auto;
    margin-top: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: auto;
  }
}
