.footer {
  background-color: @bg-footer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 102px;
  }

  &--form {
    margin-top: 57px;

    @media (min-width: @tablet-width) {
      margin-top: 50px;
    }
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: @border-gray;
    width: 100%;
    height: 1px;
    top: 50%;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    row-gap: 0;

    &::before {
      content: none;
    }
  }
}

.footer__link-logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    &:hover .footer__logo {
      fill: @darken-green;
    }

    &:active .footer__logo {
      fill-opacity: 0.3;
    }
  }
}

.footer__social-list {
  .list-reset();
}

.footer__logo {
  fill: @black;
}
