.footer {
  background-color: @bg-footer;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 51px;
    padding-bottom: 58px;
    margin-top: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 105px;

    &--form {
      margin-top: 50px;
    }
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    row-gap: 0;
  }
}

.footer__link-logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    &:hover .footer__logo {
      fill: @darken-green;
    }

    &:active .footer__logo {
      fill-opacity: 0.3;
    }
  }
}

.footer__social-list {
  .list-reset();
}
