.form__help-block {
  .fonts(normal, normal, 14px, 16px);
  margin-top: 17px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 10px;
    .fonts(normal, normal, 17px, 30px);
  }
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.form__button {
  order: 1;

  @media (min-width: @tablet-width) {
    order: 0;
    .fonts(normal, bold, 17px, 16px);
    width: 230px;
  }
}
