.modal {
  width: 320px;
  height: 336px;
  background-color: @white;
  border: 1px solid @border-light-gray;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__title {
  .reset-indents();
  .fonts(normal, bold, 25px, 30px);
  text-transform: uppercase;
  margin-top: 28px;
}

.modal__order-form {
  .reset-indents();
}
