
.navigation {
  .list-reset();
  .fonts(normal, bold, 17px, 24px);
}

.navigation__item {
  padding-top: 28px;
  padding-bottom: 28px;
  box-shadow: 0 1px 0 @light-gray, inset 0 1px 0 @light-gray;
}

.navigation__link {
  margin-left: 76px;
  text-decoration: none;
  color: @black;
  cursor: pointer;
}
