.popular-product {
  margin-top: 30px;
}

.popular-product__title {
  .reset-indents();
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.popular-product__subtitle {
  .fonts(normal, bold, 17px, 20px);
  color: @light-green;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
}

.popular-product__description-termin,
.popular-product__description-details {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid @light-gray;
}

.popular-product__description-termin {
  float: left;
  width: 100px;
}

.popular-product__image {
  margin-top: 28px;
}

.popular-product__offer {
  margin-top: 25px;
}

.popular-product__price {
  .fonts(normal, bold, 17px, 24px);
  display: block;
  margin-bottom: 25px;
}
