.popular-product {
  margin: 0 auto;
  max-width: 1150px;
  margin-top: 30px;
  padding: 0 30px;
}

.popular-product__name {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.popular-product__title {
  .reset-indents();
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;

  @media (min-width: @tablet-width) {
    order: 0;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.popular-product__subtitle {
  .fonts(normal, bold, 17px, 20px);
  color: @light-green;
  text-transform: uppercase;
  text-align: center;
}

.popular-product__info {
  @media (min-width: @tablet-width) {
    margin-right: 376px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-left: 138px;
    margin-right: 580px;
    position: relative;
  }
}

.popular-product__description {
  margin: 0;
}

.popular-product__description-termin,
.popular-product__description-details {
  border-bottom: 1px solid @light-gray;
}

.popular-product__description-termin {
  float: left;
}

.popular-product__image {
  @media (min-width: @tablet-width) {
    width: 260px;
    height: 315px;
    position: absolute;
    right: -300px;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 260px;
    height: 315px;
    position: absolute;
    right: -300px;
    top: 0;
  }
}

.popular-product__offer {
  margin-top: 25px;
}

.popular-product__price {
  .fonts(normal, bold, 17px, 24px);
  display: block;
  margin-bottom: 25px;
  text-align: center;
}
