.popular-product {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 450px;
  }

  @media (min-width: @desktop-width) {
    min-height: 636px;
  }
}

.popular-product__name {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin-top: 61px;
  }
}

.popular-product__title {
  display: block;
  .reset-indents();
  .fonts(normal, bold, 25px, 30px);
  color: @black;

  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 43px, 50px);
    order: 0;
  }

  @media (min-width: @desktop-width) {
    .fonts(normal, bold, 53px, 57px);
    order: 1;
    margin-right: 350px;
  }
}

.popular-product__subtitle {
  display: block;
  .fonts(normal, bold, 17px, 20px);
  color: @light-green;
  text-transform: uppercase;
  text-align: left;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -10%;
    margin-left: auto;
    width: 100px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: 30px;
    margin-right: auto;
  }
}

.popular-product__info {
  margin-top: 20px;
  .fonts(normal, normal, 15px, 24px);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 290px;
    margin-top: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.popular-product__text {
  margin: 0;
}

.popular-product__description {
  margin: 0;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 48px;
  }
}

.popular-product__description-termin,
.popular-product__description-details {
  border-bottom: 1px solid @light-gray;
  padding: 12px 0;
}

.popular-product__description-termin {
  float: left;
  min-width: 100px;
}


.popular-product__image {
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    top: 80px;
    width: 334px;
    height: 404px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    width: 525px;
    height: 636px;
  }
}

.popular-product__offer {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 72px;
  }
}

.popular-product__price {
  .fonts(normal, bold, 17px, 24px);
  display: block;
  text-align: center;
}

.popular-product__button {
  margin-top: 25px;
  width: 100%;

  @media (min-width: @desktop-width) {
    margin-top: 33px;
  }
}
