.production {
  display: flex;
  flex-direction: column;
  border: 1px solid @light-gray;
  min-height: 503px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }


  @media (min-width: @tablet-width) {
    min-height: 743px;
    margin-top: 53px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 682px;
    min-height: 455px;
    margin-top: 57px;
    margin-bottom: 105px;
  }
}

.production__header {
  display: flex;
  align-items: center;
  margin: 20px 32px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-left: 42px;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
  }
}

.production__icon-camera {
  fill: @light-green;
}

.production__title {
  margin: 0;
  .fonts(normal, bold, 17px, 24px);
  margin-left: 35px;

  @media (min-width: @tablet-width) {
    .fonts(normal, bold, 20px, 24px);
    margin-left: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
    margin-left: 0;
    width: 155px;
  }
}

.production__text {
  .fonts(normal, normal, 13px, 24px);
  margin: 0;

  @media (min-width: @tablet-width) {
    .fonts(normal, normal, 15px, 30px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}

.production__button {
  margin-top: 40px;
  width: 192px;

  @media (min-width: @tablet-width) {
    margin-top: 46px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.production__button-play {
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 76px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.8;
  }

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 78px;
  }
}

.production__video {
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 150px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;
    height: 100%;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px 455px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.production__wrapper-video {
  position: relative;

  @media (min-width: @tablet-width) {
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.production__desctiption {
  margin-top: 35px;
  padding-left: 32px;
  padding-right: 32px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 40px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-right: 57px;
    order: 2;
  }
}
