.promo__inner {
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.promo__title {
  .reset-indents();
  .fonts(normal, bold, 27px, 30px);
  text-align: center;
  padding-top: 73px;
  width: 215px;
}
