.promo {
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1150px;

    &::after {
      content: "";
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: no-repeat;
      position: absolute;
      bottom: -20px;
      height: 34px;
    }
  }
}

.promo__inner {
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.promo__title {
  .reset-indents();
  .fonts(normal, bold, 27px, 30px);
  margin: 0 auto;
  text-align: center;
  padding-top: 73px;
  width: 215px;
}
