.reviews {
  position: relative;
  margin: 0 auto;
  max-width: 1150px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/reviews.png");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/reviews.png");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    padding-left: 175px;
    height: 350px;
  }
}

.reviews__title {
  .fonts(normal, bold, 25px, 30px);

  @media (min-width: @tablet-width) {
    width: 209px;
    order: 0;
  }

  @media (min-width: @desktop-width) {
    width: 209px;
    order: 0;
  }
}

.reviews__list {
  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    height: 52px;
    order: 1;
    margin-left: auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    height: 52px;
    order: 1;
    margin-left: auto;
    text-align: center;
  }
}

.reviews__blockquote-item {
  .reset-indents();
}

.reviews__text {
  .fonts(normal, normal, 15px, 30px);
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 805px;
  }
}

.reviews__author-name {
  .fonts(normal, bold, 17px, 24px);
  display: block;
}

.reviews__author-contact {
  .fonts(normal, normal, 17px, 30px);
}

.reviews__pagination {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.reviews__pagination-button {
  .reset-indents();
  outline: none;
  cursor: pointer;
  width: 130px;
  height: 52px;
  background-color: @white;
  border: 1px solid @light-gray;
  position: relative;

  &--prev::before,
  &--next::after {
    position: absolute;
    content: "";
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 26px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &--next::after {
    transform: rotate(180deg);
  }
}
