.social {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid @border-gray;
}

.social__item {
  margin-left: 30px;
}

.social__link {
  position: relative;
  width: 30px;

  &::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
  }

  &--instagram::before {
    background-image: url("../img/instagram.svg");
  }

  &--facebook::before {
    background-image: url("../img/facebook.svg");
  }

  &--twitter::before {
    background-image: url("../img/twitter.svg");
  }
}
