.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__link {
  padding: 5px;
}

.social__image {
  fill: @black;
}

.social__link:hover .social__image {
  fill: @darken-green;
}

.social__link:active .social__image {
  fill-opacity: 0.3;
}
