html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 668px
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}
